<div class="address-container">
  <b>Name:</b> <%- name %><br />
  <b>Address 1:</b> <%- address1 %><br />
  <b>Address 2:</b> <%- address2 %><br />
  <b>City:</b> <%- city %><br />
  <b>State:</b> <%- state %><br />
  <b>Zip:</b> <%- zip %><br />
  <b>Phone:</b> <%- phone %><br />
</div>
